<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand text-white" href="#"><img class="mr-4 logo" src="../assets/images/Microsoft_logo.png" />Microsoft</a>
    <div>
       <img class="rounded-circle mr-2 head-icon" *ngIf="!isImageLoading" [src]="user.photo | safeUrl">
         <img class="head-icon" *ngIf="isImageLoading" src="../assets/images/user.png">
        <!-- <img class="rounded-circle mr-2 head-icon" src="https://euclidepic.blob.core.windows.net/pic/admin.jpg"> -->
        <span class="text-light" [innerHTML]="user.name"></span>
    </div>
</nav>

<!-- Page Content -->
<div class="px-5 mt-5">
    <router-outlet></router-outlet>
</div>